header.l-header
    .l-header__logo
        img.l-header__logo-pic(src='./assets/img/ostrov-logo.png')
    .l-header__auth
        a.l-header__link(href='login') Войти
        a.l-header__link(href='signup') Регистрация