.l-section {
  width: 100vw;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

.l-section__popup {
  position: fixed;
  background: #fff;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  box-shadow: 0 0 10px 2px rgba(153,153,153,1);
}

.l-section__status {
  padding: 30px 60px;
}
.l-section__copyright{
  margin: 10px auto;
}